@charset "utf-8";

/* CSS Document */
*{margin:0px auto;} 
body{background:url(web/Images/background2.jpg) ; background-attachment:fixed; background-repeat:round;}
#wrapper{width:1024px; height:auto; background-color: transparent;}
header{width:1024px; height:250px; background-color:#666666; border-radius:20px; box-shadow:0 0 0.5em 0.5em #CCC; margin-top:10px;}
#hdrimg{ width:1024px; height:250px; border-radius:20px}
#welcomh3{color:#906; font-family:Verdana, Geneva, sans-serif; position:absolute; margin-top:0px; float:left;}
#frmset{width:380px; height:380px; float:left; margin-left:-52px; margin-top:3px;  }
nav{
	width: 1024px;
	height: 55px;
	background-color: #B30000;
	border-radius: 20px 1px 20px 0px;
	box-shadow: 0px 0px 0.2em 0.5em #FFA4A4;
	margin-top: 10px;}
#slider{width:1024px; height:400px; margin-top:15px; box-shadow:0 0 0.5EM 0.5EM #999999; border-radius: 20px 1px 20px 0px; 
border:1px solid #F00;} 

HR{border-width:thin; border-color:#900; box-shadow:0 0 0.2em 0.2em #990033; width:700px;  margin-top:15px;}




#section{width:1024px; height:900px;  margin-top:10px;}
#sectionbrands{ width:1024px; height:820px; margin-top:5px;}
#sectioncetgry{width:1024px; height:1410px; margin-top:10px;}
#MARKH2{text-align:center; position:relative ; color:#306;  margin-top:5px;}
#mydiv2{width:200px; height:150px; 
 float:right; margin-right:10px; border:groove; border-radius:6px;; margin-top:200px; border-radius: 6px;
  transition-property: background, border-radius;
    transition-duration: 2s;
    transition-timing-function: linear;
	}
	
	#mydiv2 :hover{width:200px;height:150px;  
	-webkit-transition-duration: 500ms;
 border-radius: 40%;opacity:0.8; 
			}
	
#mydiv{width:200px; height:150px; border:groove; float:right; margin-right:0px; margin-top:8px;
    transition-property: background, border-radius;
    transition-duration: 2s;
    transition-timing-function: linear;
	}
	#mydivlst{ float:left; margin-left:140px; width:200px; height:150px; margin-top:100px;
	transition-property: background, border-radius;
    transition-duration: 2s;
    transition-timing-function: linear;
border:groove;
	}
	#mydivlst :hover{ opacity:0.8;
 transition-duration: 500ms;
 border-radius: 40%; 
	width:200px; height:150px;
	 }
#ancr{text-decoration:none; color:#000; font-family:Arial, Helvetica, sans-serif, Times, serif; font-size:25px;}
#mydiv :hover{
	opacity:0.8;
 transition-duration: 500ms;
 border-radius: 40%;
}
#sectiontext{font-family:Verdana, Geneva, sans-serif; font-size:20px;  color:#333; text-align:center; width:700px;height:180px; margin-left:265px;}




#MARKH2{text-align:center; position:relative ; color:#906; font-size:20px;  font-family:Arial, Helvetica, sans-serif;}
#brands{float:left; margin-top:40px; width:1000px; height:165px;  background-color:#D5D5D5; box-shadow:0 0 0.5em 0.5em #575757;}
#imgbrnds{width:300px;  float:left; border:1px inset #666; height:165px; background-color:#575757;}
#imgbrnds:hover{border-radius:40%; transition:500ms; opacity:0.8; background-color:#000;}
#OPSEC{width:350PX; float:left; margin-left:30PX; margin-top:20PX; height:750PX; color:#2D2D2D; margin-top:40PX;}
#OPSECIMG{ width:350PX; float:left; height:600PX;  box-shadow:0 0 0 .5EM 0.5EM #EAEAEA; border:groove;}

/*aside home page  */
	aside{width:230px; height:900px; margin-left:30px; margin-top:20px; float:left;} 
	#asidecontectus{width:280px; height:900px; margin-top:10px; float:right; margin-right:5px;}
#SLIDERASIDE{ width:230PX; 
height:960PX; 
 box-shadow:0 0 0.2em 0.2em #990033;float:left; 
  margin-left:5PX; 
  margin-top:40pX;
   border-radius:20PX; 
   }
table{width:210PX; height:920PX;}
 TD{ height:130PX;  width:200PX; }
#MRKASID{width:180PX; height:120PX;  border-radius:20PX; border:groove; }

.SIDBAR{width:200PX; height:40PX;}

.SIDBAR H2{padding:0PX; margin:0PX; text-decoration:underline;  font-size:24px;}
 #ANI{ color:#F00; box-shadow:0 0 0.2em 0.1em #CCCCCC;
 font-family:
"Lucida Sans Unicode", "Lucida Grande", sans-serif;text-decoration:overline;}
 



/*about us*/

#abtslidr{width:1024px; height:300px; margin-top:5px;}
#baside{width:230px; height:900px;  margin-top:20px;
  float:right; margin-right:5px; }


#baside2{width:200px; height:900px; float:right; margin-top:30px;}


#SLIDERASIDE2{ width:230PX; 
height:860PX; 
 float:left; box-shadow:0 0 0.2em 0.2em #990033;
  margin-left:3PX; 
  margin-top:18PX;
   border-radius:20PX; 
   position:absolute;
   }
   
   #table2{ width:210px; height:750px;}
TD{ height:100PX;  width:210PX; }
#MRKASID2{width:210PX; height:100PX;
  border-radius:20PX; border:groove; }

#newimg{width:230px; height:100px;}

/*contetct us*/
	#conform{ margin-top:20px; margin-left:20px; width:400px; height:300px; background-color:transparent; }
	#anchor {
	text-decoration:none;
	color:#000000;
	cursor:pointer;
	
	
	}
#comment,#Name,#email,#Phone

	{
		border:none;
		padding:7px;
		margin-left:1px;
		background-color:#FBFBFB;
		margin-top:10px;
		font-size:14px;
		border-radius:3px;
		font-family:cabin;
		width:169px;
		border:1px solid #E1E1E1;
		font-family:hash;
background-image:-webkit-linear-gradient(90deg,#FBFBFB,#FBFBFB,#FBFBFB,#FBFBFB,#FBFBFB,#FBFBFB,#EEE);
		margin-left:13px;
		float:left
		}
#email
	{
		width:170px;
		}
		
#Phone

	{
		width:170px;
		
		}
		
#comment
	{
	
	resize:none;
	width:568px;
	height:180px;
	margin:15px 10px 0px 20px
		
		}
#Name 
	{
		padding:7px;
		margin-left:20px;
		width:170px
		}

#submit
	
	{
		
		margin-left:20px;
		background-color:#903;
		border:none;
		width:70px;
		height:40px;
		font-size:16px;
		border:1px solid #000;
		color:#FFF;
		border-radius:5px;
		}

#reset
	{
		
		margin-left:15px;
		background-color:#006;
		border:none;
		width:70px;
		height:40px;
		font-size:16px;
		border:1px solid #000;
		color:#FFF;
		border-radius:5px;
		
		}

#reset , #submit

	{
		margin-top:15px;
		float:left;
		font-family:Verdana, Geneva, sans-serif;
		margin-left:50PX;
		 }
		
div#conform

		{
			
		width:650px;
		height:400px;
		position:relative;
		background-color:none;
		float:left;
		overflow:hidden
		}
		
div#form

		{
			width:655px;
			height:455px;
			position:absolute;
			background-color:transparent;
			float:none;
			margin:70px 0px 0px 0px;
			padding:0px;
			overflow:hidden;
			border-radius:5%;	
			}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	#divimg{width:300px; height:60px; }
	#imgl{ width:50px; height:50px; float:left; margin-left:20px; transition:WIDTH 1S,HEIGHT 1S, TRANSFORM 1S;}
#imgl:hover{ width:60px; height:60px; opacity:0.8; transition-duration:1S; transform:skewX(360);}
	#GMAINANCR{text-decoration:none; color:#333;  font-family:"Courier New", Courier, monospace;}
	#GMAILIMMG{margin-top:10PX;}
	#contfrm{width:700PX;
	 background-color:#0F0;  margin-top:80px; margin-left:20PX; box-shadow:0 0 0.5EM 0.5EM #666; height:300PX;
	 position:relative;}




#OPSEC{width:350PX; float:left; margin-left:30PX; margin-top:20PX; height:750PX; color:#2D2D2D; margin-top:40PX;}

#OPSECIMG{ width:350PX; float:left; height:600PX;  box-shadow:0 0 0 .5EM 0.5EM #EAEAEA; border:groove;}

#DOWNLAD{ width:300PX; height:100PX; margin-top:20PX; margin-left:25PX;}

#ASIDSEC{ width:400PX; float:right; border-radius:10PX; border: 1PX solid #900;  margin-right:50PX; margin-top:30PX; height:700PX}




























footer{width:1020px; height:50px;box-shadow: 0px 0px 0.2em 0.5em #FFA4A4; background-color:#900; 
clear:both; border-radius: 20px 1px 20px 0px; margin-top:5px;}
#fotrp{color:#CC0;float:right; margin-left:335px; margin-top:2px; }
ul{list-style:none; float:left; margin-top:5px;}
#fa{text-decoration:none; color: #CCC;}
#fa:hover{text-decoration:none; text-decoration:none; color:#FFF;}

li{list-style:none; text-decoration:none; color:#666; float:left; margin-left:8px; padding-left:3px;}