@charset "utf-8";
body{background:url(../Images/background2.jpg); background-attachment:fixed; background-repeat:round;}
*{margin:auto; padding:0;}

#wrapper{width:900px; height:auto; margin:auto; padding:0px;}

#hdrimg{border-radius:20px;}

#logo{height:150px; width:250px; position:absolute; margin:40px 0px 0px 5px;}

nav{width: px; height: 50px; background-color: #B30000; border-radius: 20px 1px 20px 0px;
 	box-shadow: 0px 0px 0.2em 0.5em #FFA4A4; margin-top: 10px; padding-top:10px; position:relative;}

#slider{height:400px; width:900px; position:absolute; margin-top:30px; box-shadow:0 0 0.5em 0.5em #999999;
border-radius:20px 0px 20px 0px;animation-name:abc; animation-direction:alternate;animation-duration:10s; animation-iteration-count:infinite; animation-play-state:running;animation-timing-function:linear;}

@keyframes abc{
				0%{background:url(../Images/1.jpg);background-size:cover;}
				25%{background:url(../Images/2.jpg);background-size:cover;}
				50%{background:url(../Images/3.jpg);background-size:cover;}
				75%{background:url(../Images/4.jpg);background-size:cover;}
				100%{background:url(../Images/5.png);background-size:cover;}}		

section{height:810px; width:630px; border-radius:15px; border:groove #F00; box-shadow:0 0 0.5em 0.5em #00FF00;				 		position:relative; margin-top:500px; float:right; background:#00EABB;}

#si{height:535px; width:625px; position:relative; float:left;}

#s1{height:160px; width:160px; float:left; position:relative; top:30px; left:15px; transition-duration:0.5s;}
#s1:hover{transform:scale(1.2,1.2); transition-duration:0.5s;}
	
#s2{height:160px; width:160px; float:right; position:relative; top:30px; right:15px; transition-duration:0.5s;}
#s2:hover{transform:scale(1.2,1.2); transition-duration:0.5s;}

#s3{height:160px; width:160px; float:left; position:relative; top:340px; right:150px; transition-duration:0.5s;}
#s3:hover{transform:scale(1.2,1.2); transition-duration:0.5s;}

#s4{height:160px; width:160px; float:right; position:relative; top:180px; right:15px; transition-duration:0.5s;}
#s4:hover{transform:scale(1.2,1.2); transition-duration:0.5s;}

#s5{height:160px; width:160px; float:right; position:relative; top:34px; right:65px; transition-duration:0.5s;} 
#s5:hover{transform:scale(2,2); transition-duration:0.5s;}

HR{ border-color:#F00; box-shadow:0 0 0.5em 0.5em #00FF00;}

aside{height:810px; width:230px; position:absolute; margin-top:500px; float:left; border-radius:15px;
	 border:groove #F00; box-shadow:0 0 0.5em 0.5em #00FF00; z-index:999; overflow:hidden; background:#00EABB;}

.marpic{height:150px; width:200px;}

footer{height:50px; width:900px; background-color:#F00; position:absolute; margin-top:1340px;
	   border-radius:20px 0px 20px 0px; box-shadow:0 0 0.5em 0.5em #C69;}

